/* Wrapper for page content to push down footer */
#content {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height*/
    padding: 0 0 160px;
}

.navbar-fagun {
    margin-bottom: 0px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}

.nav-logo {
    padding: 7px;
}

.jumbotron {
    background: url("images/hops.jpg");
    background-position: center;
    background-size: 100%;
    padding-top: 0;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: white;
}

.gray-box {
    background-color: #eeeeee;
    color: #4d4d4d;
    padding: 20px 15px;
}

.box-item {
    margin-bottom: 12px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}

.box-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

