{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- minified bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/journal/bootstrap.min.css"/>

    <link rel="stylesheet" href="{% static "style.css" %}"/>

    <link rel="shortcut icon" type="image/png" href="{% static "images/logo64x64.png" %}"/>

    <title>Fágun - Félag áhugafólks um gerjun</title>
</head>
<body>
{% include "fragments/facebook_sdk.html" %}
{% include "fragments/header.html" %}

{% block jumbotron %}
{% endblock %}

<div id="content" class="container">
    {% block content %}
        This should be overridden.
    {% endblock %}
</div>

{% block footer %}
<div id="footer">
    <div class="container text-muted">
        <p class="small">Fágun, félag áhugafólks um gerjun 2016</p>
    </div>
</div>
{% endblock %}

<!-- minified jQuery -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- minified bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- analytics -->
<script>
{# ToDo insert an analytics script #}
</script>

{% block scripts %}
    <script src="{% static "ajaxBoilerplate.js" %}"></script>
    <script src="{% static "app.js" %}"></script>
{% endblock %}

</body>
</html>