{% extends "base.html" %}

{% block content %}
    <h2>Greinar</h2>
    {% for article in edu_articles %}
        <div class="list-group">
            <a href="{% url "article" article.slug %}" class="list-group-item">
            <p class="small">{% if article.published_at %}
                                {{ article.published_at }}
                            {% endif %}</p>
                <h4 class="list-group-item-heading">{{ article.title }}</h4>
            <p class="list-group-item-text">Hér kemur texti úr greininni</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}