{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ title }}</h3>

            <div>
                <ul>
                    {% for article in edu_articles %}
                        <li>
                            <a href="{% url "article" article.slug %}">{{ article.title }}</a>
                            {% if article.published_at %} -
                                {{ article.published_at }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}