{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            <h2>Nýjustu fréttir</h2>
            {% for article in news_articles %}
                <h4>{{ article.title }}</h4>
                <p>{{ article.body|safe }}</p>
            {% endfor %}
            <h2>Nýjustu uppskriftir</h2>
        </div>

        <div class="col-sm-4 col-sm-offset-1">
            {% for entry in sidebar_entries %}
                <h4>{{ entry.title }}</h4>
                <p>{{ entry.body|safe }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}