{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ title }}</h3>

            <div>
                <ul>
                    {% for story in news_stories %}
                        <li>
                            <a href="{% url "news_story" story.slug %}">{{ story.title }}</a>
                            {% if story.published_at %} -
                                {{ story.published_at }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}