<div class="gray-box">

    <div class="box-item">

        <h4>Póstlisti Fágunar</h4>

        <div id="mail-wrapper">
            <form id="mail-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ mail_form }}
                </div>
                <button type="submit" class="btn btn-success">Skrá mig
                </button>
            </form>
        </div>
    </div>

    {% for entry in sidebar_entries %}
        <div class="box-item">
            <h4>{{ entry.title }}</h4>

            <p>{{ entry.body|safe }}</p>
        </div>
    {% endfor %}

    <div class="box-item">
        <h4>Fylgdu okkur á Facebook</h4>

        <div class="fb-like" data-href="https://www.facebook.com/fagunis"
             data-layout="standard" data-action="like"
             data-show-faces="true" data-share="true"></div>
    </div>
</div>